<div class="ui visible right thin vertical sidebar menu">
    <a class="item height-same">
    </a>
    <a class="item">
        <i class="user icon"></i>
        Tutors
        <div class="menu">
            {{#with tutor}}
                 <a class="item" onclick="javascript:register_popup('{{id}}', '{{username}}')">
            <img class="ui avatar image" src="{{pic}}"> {{firstname}} {{lastname}}
        </a>
            {{/with}}
        </div>
    </a>
    <a class="item">
        <i class="child icon"></i>
        Classmates
        <div class="menu">
            {{#each students}}
        <a class="item" onclick="javascript:register_popup('{{id}}', '{{username}}')">
            <img class="ui avatar image" src="{{pic}}"> {{firstname}} {{lastname}}
        </a>
             {{/each}}

        </div>
    </a>
</div>
