<div class="ui visible right thin vertical sidebar menu">
    <a class="item height-same">
    </a>
    <a class="item">
        <i class="user icon"></i>
        Tutors
        <div class="menu">
            {{#ifeq userData.role "tutor"}}
            <a class="item"> You </a>
            {{else}} {{#with tutor}}
            <a class="item" id="inituser-{{id}}" onclick="javascript:register_popup('{{id}}', '{{firstname}} {{lastname}}')">
                <img class="ui avatar image" src="{{pic}}"> {{firstname}} {{lastname}}
                <div class="ui label" style="display:none" id="labeluser-{{id}}"></div>
            </a>
            {{/with}} {{/ifeq}}
        </div>
    </a>
    <a class="item">
        <i class="child icon"></i>
        Classmates
        <div class="menu">
            {{#each students}}
            <a class="item" id="inituser-{{id}}" onclick="javascript:register_popup('{{id}}', '{{firstname}} {{lastname}}')">
                <img class="ui avatar image" src="{{pic}}"> {{firstname}} {{lastname}}
                <div class="ui label" style="display:none" id="labeluser-{{id}}"></div>
            </a>
            {{/each}}

        </div>
    </a>
</div>
