<div class="event">
    <div class="label">
        <img src="{{authorpic}}">
    </div>
    <div class="content">
        <div class="summary">
            <a>{{authorname}}</a> posted on {{title}}
            <div class="date">
                {{time}}
            </div>
        </div>
        <div class="extra text">
            {{description}}
        </div>
        <div class="meta">
            <a class="like">
                <i class="like icon"></i> {{likecount}} Likes
            </a>
        </div>
    </div>
</div>
